:root {
  --Primary-color: #31363F;
  --Secondary-color: linear-gradient(145deg, #31363F, #5A6274 50%, #4A5568);
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222831;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

.tic-tac-toe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.winner-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 0.125rem solid #aaa;
}

.winner-count p {
  background-color: var(--Primary-color);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.winner-count p.active {
  flex: 100%;
  order: -1;
}

.tic-tac-toe h2.info {
  font-size: 18px;
  margin-bottom: 5px;
}

.tic-tac-toe .squares {
  display: grid;
  grid-template-columns: repeat(3, minmax(60px, 1fr));
  gap: 0.0125rem;
}

.tic-tac-toe .square {
  border: 1px solid black;
  height: 50px;
  background-color: var(--Primary-color);
  font-weight: bold;
  font-size: 24px;
}

.game-controller {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;
  border-top: 0.125rem solid #aaa;
  padding: 8px;
}

.game-controller button {
  background-color: var(--Primary-color);
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 0.0390rem;
}

button:hover,
button.active,
.winner-count p.active {
  background-image: var(--Secondary-color);
}

.game-controller button.swap {
  flex: 100%;
}